apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "58.*"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
      interval: 1h
  values:
    alertmanager:
      enabled: true

    prometheus:
      prometheusSpec:
        retention: 2d

    grafana:
      enabled: true

      # Add Loki as a datasource so Grafana can show logs
      additionalDataSources:
        - name: Loki
          type: loki
          access: proxy
          url: http://loki-gateway.observability.svc.cluster.local
          isDefault: false
