apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - grafana-admin-secret.enc.yaml
  - blackbox-config.yaml
  - blackbox-deploy.yaml
  - caddy-blackbox-servicemonitor.yaml
