apiVersion: apps/v1
kind: Deployment
metadata:
  name: caddy
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: caddy
  template:
    metadata:
      labels:
        app: caddy
    spec:
      containers:
        - name: caddy
          image: caddy:2.7.6
          ports:
            - containerPort: 80
            - containerPort: 2019
          volumeMounts:
            - name: config
              mountPath: /etc/caddy
      volumes:
        - name: config
          configMap:
            name: caddy-config
